@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  direction: rtl;
  text-align: right;
}
@media (max-width: 767px) {
  html,
  body {
    font-size: 90%;
  }
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Almarai", sans-serif;
  background-color: #ededed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

div:has(table) {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

div:has(table)::-webkit-scrollbar {
  /* display: none; */
  width: 0px; /* For Chrome, Safari, and Opera */
}
.table-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  /* background-color: #fff; */
  padding: .5rem;
  align-items: center;
}
.next,
.previous {
  background: #2563eb;
  color: #fff;
  padding: .5rem;
  font-size: 11px;
  border-radius: .5rem
}


.table-pagination li.disabled {
  background: #989898;

}
.table-pagination li {
  min-width: 30px;
  text-align: center;
  line-height: 1.1;
}
.table-pagination .selected {
  background: #2563eb;
  color: #fff;
  padding: .5rem;
  border-radius: .5rem
}